@import url(./global.css);

header{
    display: flex;
    gap: 425px;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-white);
}

.container-header{
    display: flex;
    align-items: center;
}

.container-header ul {
    display: flex;
    gap:30px;
    align-items: center;
}

.container-header ul li{
    list-style: none;
}

.container-header ul li a{
    text-decoration: none;
    font-family: var(--font-primary);
    font-size: var(--font-size-body);
    font-weight: var(--font-weight-button);
    color: var(--color-black);
}

.btn-header{
    padding: 12px 30px;
    border-radius: 15px 3px 3px 15px;
    background-color: var(--color-primary);
    text-decoration: none;
    color: var(--color-black);
    font-family: var(--font-primary);
    font-size: var(--font-size-button);
    font-weight: var(--font-weight-button);
}

.container-main{
    display: flex;
    justify-content: center;
    padding: 60px;
    gap: 60px;
}

.content-main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.details-main{
  display: flex;
  gap: 5px;
  align-items: start;

}

.details-stars{
    font-family: var(--font-primary);
    color: #191C1F;
    font-size: 14px;
    font-weight: 600;
    
}

.content-main h1{
    font-family: var(--font-primary);
    color: #191C1F;
    font-size: var(--font-size-body);
    font-weight: var(--font-weight-button);
    width: 499px;
}
.details-assessment{
    font-family: var(--font-primary);
    color: #5F6C72;
    font-size: 14px;
    font-weight: 600;
}

.details-price{
    display: flex;
    gap: 12px;
    align-items: center;
}

.price-descount{
    font-size: var(--font-size-h4);
    font-weight: var(--font-weight-h4);
    font-weight: 600;
    color:#2DA5F3;
    font-family: var(--font-primary);
}

.price-original{
    font-size: var(--font-size-body);
    font-weight: 400;
    color:#77878F;
    font-family: var(--font-primary);
    text-decoration: line-through;
}

.details-price-box{
    padding: 5px 10px;
    background-color: #EFD33D;
    border-radius: 2px;
    font-size: var(--font-size-body);
    color:#191C1F;
    font-weight: 900;
    font-family: var(--font-primary);
    
}

.details-color{
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    font-family: var(--font-primary);
    font-size: var(--font-size-body);
    color:#191C1F;
    font-weight: var(--font-weight-button);
}

.content-main nav{
    display: flex;
    gap: 20px;
}

.btn-shopping{
    padding: 12px 30px;
    background-color: var(--color-primary);
    text-decoration: none;
    font-family: var(--font-primary);
    font-size: var(--font-size-body);
    color: var(--color-black);
    border-radius: 15px 3px 3px 15px;
}

.container-infos{
    display: flex;
    background: linear-gradient(to bottom, #B0CB1F, #58650F,0.1);
    flex-direction: column;
    align-items: center;
    padding: 60px;
    gap:50px
}

.container-infos h2{
    font-family: var(--font-primary);
    font-size: var(--font-size-h4);
    color: var(--color-black);
    font-weight: var(--font-weight-h2);
}
.container-form{
    display: grid;
    grid-template-columns: 249px 185px 249px;
    gap: 16px;
    
}

.form-group{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.form-group label{
    font-family: var(--font-primary);
    font-size: var(--font-size-body);
    color: var(--color-black);
    font-weight: var(--font-weight-button);
  

}

.form-group input{
    width: 249px;
    border: 1px solid #000000;
    border-radius: 5px;
    padding: 11px 14px;
  
   
}

.form-group > .form-group-small{
    width: 185px;
    
}

.form-actions{
    grid-column: 1 / -1; 
    display: flex;
    justify-content: flex-start;
   
}
.btn-enviar{
    padding: 12px 30px;
    background-color: var(--color-primary);
    text-decoration: none;
    font-family: var(--font-primary);
    font-size: var(--font-size-body);
    color: var(--color-black);
    border-radius: 15px 3px 3px 15px;
    cursor: pointer;
}

footer{
    display: flex;
    justify-content: space-evenly;
    padding: 60px;
    background-color: var(--color-white);
    gap: 323px;
}

.footer-information{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}

.footer-information p {
    font-family: var(--font-primary);
    font-size: var(--font-size-body);
    color: var(--color-black);
    font-weight: var(--font-weight-button);
}

.footer-social{
    display: flex;
    gap: 16px;
}

.footer-contacts-container{
    display: flex;
    gap: 60px;
    align-items: start;

}

.footer-contact{
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    margin: 0 auto;
}

.footer-contact h2{
    font-family: var(--font-primary);
    font-size: var(--font-size-h4);
    color: var(--color-black);
    font-weight: var(--font-weight-h4);

}
.footer-contact ul{
    display: flex;
    flex-direction: column;
    gap: 15px;
    
}

.footer-contact ul li{
    list-style: none;
}

.footer-contact ul li a{
    text-decoration: none;
    font-family: var(--font-primary);
    font-size: var(--font-size-body);
    color: var(--color-black);
    font-weight: var(--font-weight-button);
}

